<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>view/authentication/index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>cashier</servlet-name>
        <jsp-file>/view/cashier/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>cashier</servlet-name>
        <url-pattern>/cashier</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>payment</servlet-name>
        <jsp-file>/view/cashier/payment.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>payment</servlet-name>
        <url-pattern>/pay</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>authentication</filter-name>
        <filter-class>com.fptuni.fms.filters.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authentication</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <error-page>
        <location>/view/error.jsp</location>
    </error-page>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>pageSize</param-name>
        <param-value>20</param-value>
    </context-param>
</web-app>
